<form nz-form [formGroup]="form">
  <nz-layout>
    <nz-content>
      <div nz-row>
        <div nz-col nzSpan="21" nzOffset="3" class="mb-1">
          <nz-radio-group formControlName="action">
            <label *ngFor="let a of actions" nz-radio nzValue="{{ a.value }}">{{ a.label }}</label>
          </nz-radio-group>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item *ngIf="getAction() === 'update'">
            <nz-form-label nzRequired nzSpan="3" [nzFor]="'name'">Select Movie</nz-form-label>
            <nz-form-control nzRequired nzSpan="8"
            nzErrorTip="Please select movie name!">
              <nz-select formControlName="id" nzPlaceHolder="Select a movie name"
              (ngModelChange)="setMovieDetails()">
                <nz-option *ngFor="let m of movieList"
                nzValue="{{ m.id }}" nzLabel="{{ m.name }}"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzSpan="3" [nzFor]="'name'">Movie Name</nz-form-label>
            <nz-form-control nzSpan="8" nzErrorTip="Please enter movie name!">
              <input nz-input placeholder="Enter the movie name" formControlName="name" [attr.id]="'name'"/>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzSpan="3" [nzFor]="'category'">Category</nz-form-label>
            <nz-form-control nzSpan="8"
            nzErrorTip="Please select category!">
              <nz-select formControlName="category" nzPlaceHolder="Select a category">
                <nz-option *ngFor="let c of movieCategories"
                nzValue="{{ c.value }}" nzLabel="{{ c.label }}"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzSpan="3" [nzFor]="'producer'">Producer</nz-form-label>
            <nz-form-control nzSpan="8" nzErrorTip="Please enter producer (less than 200 characters)!">
              <input nz-input placeholder="Enter the producer name" maxlength="200"
              formControlName="producer" [attr.id]="'producer'"/>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzSpan="3" [nzFor]="'director'">Director</nz-form-label>
            <nz-form-control nzSpan="8" nzErrorTip="Please enter director (less than 100 characters)!">
              <input nz-input placeholder="Enter the director name" maxlength="100"
              formControlName="director" [attr.id]="'director'"/>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzSpan="3" [nzFor]="'releaseDate'">Release date</nz-form-label>
            <nz-form-control nzSpan="8" nzErrorTip="Please enter release date!">
              <nz-date-picker formControlName="releaseDate" [nzFormat]="'dd/MM/yyyy'"
              [attr.id]="'releaseDate'"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzSpan="3" [nzFor]="'language'">Language</nz-form-label>
            <nz-form-control nzSpan="8"
            nzErrorTip="Please select language!">
              <nz-select formControlName="language" nzPlaceHolder="Select a language">
                <nz-option *ngFor="let c of movieLanguages"
                nzValue="{{ c.value }}" nzLabel="{{ c.label }}"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzSpan="3" [nzFor]="'description'">Description</nz-form-label>
            <nz-form-control nzSpan="8" nzErrorTip="Please enter description in less than 500 characters!">
              <nz-input-group>
                <textarea nz-input formControlName="description" maxlength="500"
                placeholder="Enter description (optional)"></textarea>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzOffset="3" class="mt-1" *ngIf="getAction() === 'create'">
          <button nz-button [nzType]="'primary'" class="text-bold mb-1"
          type="button" (click)="saveOrUpdate('save')">
            Save movie record <i nz-icon nzType="right"></i>
          </button>
        </div>
        <div nz-col nzOffset="3" class="mt-1" *ngIf="getAction() === 'update'">
          <button nz-button [nzType]="'primary'" class="text-bold mb-1 mr-1"
          type="button" (click)="saveOrUpdate('update')">
            Update movie record <i nz-icon nzType="right"></i>
          </button>
          <button nz-button [nzType]="'danger'" class="text-bold mb-1"
          type="button" (click)="delete()">
            Delete movie record <i nz-icon nzType="right"></i>
          </button>
        </div>
      </div>
    </nz-content>
  </nz-layout>
</form>
