<ul nz-menu nzMode="inline" class="sider-menu">
  <li nz-menu-item
  routerLink="/movie-multiplex-app/management-user/home/movie"
  [routerLinkActive]="'ant-menu-item-selected'">
    Manage Movies
  </li>
  <li nz-menu-item
  routerLink="/movie-multiplex-app/management-user/home/multiplex"
  [routerLinkActive]="'ant-menu-item-selected'">
    Manage Multiplex
  </li>
  <li nz-menu-item
  routerLink="/movie-multiplex-app/management-user/home/movie-allocation"
  [routerLinkActive]="'ant-menu-item-selected'">
    Movie Allocation
  </li>
</ul>
